@font-face {
    font-family: Thesignature;
    src: url(./fonts/Thesignature.ttf);
}

.konkhmer-sleokchher-regular {
    font-family: "Konkhmer Sleokchher", serif;
    font-weight: 400;
    font-style: normal;
}

.konkhmer-sleokchher-regular {
    font-family: "Konkhmer Sleokchher", serif;
    font-weight: 400;
    font-style: normal;
}



/* Global box-sizing rule for consistent layout */
* {
    box-sizing: border-box;
}

/* Ensure body and HTML don't cause overflow */
html, body {
    margin: 0;
    padding: 0;
}




/*PLAYER CONTROLS*/


footer {
    position: fixed;
    max-width: 400px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}





body {
    background-color: #222222;
    margin: 0;
}

header {
    display: flex;
    position: sticky;
    top: 0;
}

header section {
    flex: 1 1 50%; /* Flex-grow, flex-shrink, and flex-basis */
    max-width: 50%; /* Prevent sections from exceeding half the width */
}

@media screen and (min-width: 391px) {
    
    header section:first-child {
        background-color: #423735;
        height: 100px;
        width: 50vw;
        border-bottom: solid 1px #91791F;

        display: flex;
        justify-content: end;
        flex-direction: row;
        gap: 45px;
    }

    header section a {
        margin-top: 32px;
        cursor: pointer;
        max-width: 41px;
        max-height: 41px;
    }

    header section svg {

        height: 41px;
        width: 41px;
        fill: #FFD400;
    }

    header section svg:hover {
        transform: scale(1.2);
        transition: 200ms;
    }

    header section a:last-child {
        margin-right: 20px;
    }

    header section:last-child {
        background-color: #1E1B48;
        height: 100px;
        width: 50vw;
        border-bottom: solid 1px #919CBD;
    }
}

@media screen and (max-width: 390px) {



    header section a {
        margin-top: 32px;
        cursor: pointer;
        max-width: 30px;
        max-height: 30px;
        margin-right: 0;
    }

    header section svg {

        height: 30px;
        width: 30px;
        fill: #FFD400;
    }

    header section svg:hover {
        transform: scale(1.2);
        transition: 200ms;
    }

    header section a:last-child {
        margin-right: 20px;
    }

    header section:last-child {
        background-color: #1E1B48;
        height: 100px;
        width: 50vw;
        border-bottom: solid 1px #919CBD;
    }

    h1 {
        color: #919CBD;
        font-family: Thesignature;
        font-size: 40px;
        margin-left: 20px;
        margin-top: 32px;
        font-weight: lighter;

        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
}

@media screen and (max-width: 510px) {
    h1 {
        color: #919CBD;
        font-family: Thesignature;
        font-size: 40px;
        margin-left: 20px;
        margin-top: 32px;
        font-weight: lighter;

        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }

    header section:first-child {
        background-color: #423735;
        height: 100px;
        border-bottom: solid 1px #91791F;

        display: flex;
        justify-content: end;
        flex-direction: row;
        gap: 20px;
    }
    
    main .album-section,
    main .new-album-section {
        max-width: 340px;
    }
    
    .album-image {
        max-width: 250px;
    }

    .album-section .song-info .song-title,
    .album-section .song-info .artist-name,
    .new-album-section .song-info .song-title,
    .new-album-section .song-info .artist-name {
        font-size: 18px;
    }
    
    .new-album-section .cs {
        max-width: 260px;
    }
}

@media screen and (min-width: 511px) {
    h1 {
        color: #919CBD;
        font-family: Thesignature;
        font-size: 48px;
        margin-left: 45px;
        margin-top: 32px;
        font-weight: lighter;

        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }

    iframe {
        aspect-ratio: 5 / 3;
        width: 460px;
    }

    .new-album-section .cs {
        max-width: 420px;
    }
}



main {
    display: flex;
    height: 100%;
}

@media screen and (max-width: 1150px) {

    header section:first-child {
        background-color: #423735;
        width: 100vw; /* Make header sections adjust to screen size if needed */
    }

    header section:last-child {
        width: 100vw;
        background-color: #1E1B48;
    }
    
    main {
        flex-direction: column; /* Stack the sections vertically with the second on top */
    }

    main section:first-child {
        background-color: #423735;
        width: 100vw; /* Make header sections adjust to screen size if needed */
    }

    main section:last-child {
        width: 100vw;
        background-color: #1E1B48;
    }
}

@media screen and (min-width: 1151px) {
    main section:first-child {
        height: 1620px;
        width: 50vw;
        background-color: #423735;
    }

    main section:last-child {
        height: 1620px;
        width: 50vw;
        background-color: #1E1B48;
    }
}





/* ALBUM SECTION */



.album-section {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.album-section .album-image {
    width: 350px;
    align-self: center;
}

.album-section .album-title {
    color: #F2CB02;
    margin-top: 14px;
    height: 50px;
    text-align: center;
    font-family: Kalam;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.album-section .video-song {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #91791F;
    cursor: pointer;
}

.youtube-embed iframe {
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 3px;
}

.album-section .video-song .song {
    padding: 0 0 7px 0;
}

.album-section .song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
    border-bottom: 1px solid #91791F;
    cursor: pointer;
    transition: 250ms;
}

.album-section .song:not(:first-child):hover .song-info {
    transform: skew(-10deg) translate(20px);
}

.album-section .song:active {
    transform: scale(0.98);
}

.album-section .song:last-child {
    border-bottom: none;
}

.album-section .song-info {
    display: flex;
    flex-direction: column;
    transition: transform 200ms ease-in-out;
}

.album-section .song-title {
    color: #FFD400;

    font-family: "Konkhmer Sleokchher";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: -10px;
}

.album-section .artist-name {
    color: rgba(255, 212, 0, 0.42);

    font-family: "Konkhmer Sleokchher";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    
}

.song:hover .play-button {
    opacity: 1;
    pointer-events: auto;
}

.album-section .play-button {
    background-color: transparent;
    fill: #ffb700;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    opacity: 0;
    transition: ease-in-out;
}

.song.playing .play-button {
    opacity: 1;
    pointer-events: auto;
}

.album-section .play-button svg {
    height: 40px;
    width: 40px;
}


/*NEW ALBUM SECTION*/


.new-album-section {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.new-album-section .album-image {
    width: 350px;
    aspect-ratio: 1 / 1;
    background-color: #0c0c1c;
    align-self: center;
}

.new-album-section .album-title {
    color: #919CBD;
    margin-top: 14px;
    height: 50px;
    text-align: center;
    font-family: Times;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
}

.new-album-section .songs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.new-album-section .song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
    background-color: #030027;
    border-radius: 10px;
    height: 79px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 300ms;
}

.new-album-section .song:hover {
    background-color: rgba(13, 13, 41, 0.5);
    border: 2px solid #919CBD;
}

.new-album-section .song:active {
    transform: scale(0.98);
}

.new-album-section .song-info {
    display: flex;
    flex-direction: column;
}

.new-album-section .song-title {
    /*margin-bottom: -10px;*/
    color: #919CBD;
    font-family: Times;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.new-album-section .artist-name {
    color: rgba(145, 156, 189, 0.50);
    font-family: Times;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.new-album-section .play-button {
    background-color: transparent;
    fill: #919CBD;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 200ms;
}

.new-album-section .play-button svg {
    height: 40px;
    width: 40px;
}

.new-album-section .play-button:hover {
    transform: scale(1.2);
}

.new-album-section .play-button:active {
    transform: scale(1);
}

.cs {
    width: 464px;
    font-style: italic;
    text-align: center;
    color: rgba(145, 156, 189, 0.50)!important;
}

h3 {
    text-align: center;
    color: #919CBD;
    font-family: Times;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.new-album-section .youtube-embed iframe {
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: -3px;
}